* {
    text-align: center;
    margin: 1px solid black;
    border: 1px solid black;
}


.box {
    margin: 1px solid black;
    height: 800px;
    width: auto;
    background-image: url("assets/jquerylogo.png");
    background-size: cover;
    color: aliceblue;
}

header, footer {
    background-color: rgb(11, 11, 184);
    color: whitesmoke;
    height: 50px;
}

.ancestors * { 
    display: block;
    border: 2px solid lightgrey;
    color: lightgrey;
    padding: 5px;
    margin: 15px;
}

.descendants * { 
    display: block;
    border: 2px solid lightgrey;
    color: lightgrey;
    padding: 5px;
    margin: 15px;
}

.divcoordinates {
    height: 100px;
    width: 150px;
    background-color: black;
    color: burlywood;
    display: inline-block;
}